@keyframes ani_1 {
    from {
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    to {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes ani_1 {
    from {
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    to {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes ani_1 {
    from {
        -moz-transform: scale(0.7);
        -ms-transform: scale(0.7);
        -o-transform: scale(0.7);
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
    }

    to {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
/*旋转*/
@keyframes ani_2 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@-moz-keyframes ani_2 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes ani_2 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
/*透明度*/
@keyframes ani_3 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes ani_3 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes ani_3 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes ani_4 {
    from {
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    to {
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-moz-keyframes ani_4 {
    from {
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-110%);
    }

    to {
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes ani_4 {
    from {
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    to {
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes ani_5 {
    from {
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }

    to {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-moz-keyframes ani_5 {
    from {
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }

    to {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes ani_5 {
    from {
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }

    to {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes ani_6 {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

@-moz-keyframes ani_6 {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

@-webkit-keyframes ani_6 {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

@keyframes ani_7 {
    0% {
        -moz-transform: rotateX(90deg);
        -ms-transform: rotateX(90deg);
        -o-transform: rotateX(90deg);
        -webkit-transform: rotateX(90deg);
        transform: rotateX(90deg);
    }

    90% {
        -moz-transform: rotateX(-10deg);
        -ms-transform: rotateX(-10deg);
        -o-transform: rotateX(-10deg);
        -webkit-transform: rotateX(-10deg);
        transform: rotateX(-10deg);
    }

    100% {
        -moz-transform: rotateX(0);
        -ms-transform: rotateX(0);
        -o-transform: rotateX(0);
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
    }
}

@-moz-keyframes ani_7 {
    0% {
        -moz-transform: rotateX(90deg);
        -ms-transform: rotateX(90deg);
        -o-transform: rotateX(90deg);
        -webkit-transform: rotateX(90deg);
        transform: rotateX(90deg);
    }

    90% {
        -moz-transform: rotateX(-10deg);
        -ms-transform: rotateX(-10deg);
        -o-transform: rotateX(-10deg);
        -webkit-transform: rotateX(-10deg);
        transform: rotateX(-10deg);
    }

    100% {
        -moz-transform: rotateX(0);
        -ms-transform: rotateX(0);
        -o-transform: rotateX(0);
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
    }
}

@-webkit-keyframes ani_7 {
    0% {
        -moz-transform: rotateX(90deg);
        -ms-transform: rotateX(90deg);
        -o-transform: rotateX(90deg);
        -webkit-transform: rotateX(90deg);
        transform: rotateX(90deg);
    }

    90% {
        -moz-transform: rotateX(-10deg);
        -ms-transform: rotateX(-10deg);
        -o-transform: rotateX(-10deg);
        -webkit-transform: rotateX(-10deg);
        transform: rotateX(-10deg);
    }

    100% {
        -moz-transform: rotateX(0);
        -ms-transform: rotateX(0);
        -o-transform: rotateX(0);
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
    }
}

@keyframes ani_8 {
    from {
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    to {
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

@-moz-keyframes ani_8 {
    from {
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    to {
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

@-webkit-keyframes ani_8 {
    from {
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    to {
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

@keyframes ani_9 {
    from {
        width: 0;
    }

    to {
        width: 90%;
    }
}

@-moz-keyframes ani_9 {
    from {
        width: 0;
    }

    to {
        width: 90%;
    }
}

@-webkit-keyframes ani_9 {
    from {
        width: 0;
    }

    to {
        width: 90%;
    }
}

@keyframes ani_10 {
    from {
        box-shadow: 0 0 0.2rem 0 #00d1ff;
    }

    to {
        box-shadow: 0 0 0.00rem 0 #00d1ff;
    }
}

@-moz-keyframes ani_10 {
    from {
        box-shadow: 0 0 0.2rem 0 #00d1ff;
    }

    to {
        box-shadow: 0 0 0.00rem 0 #00d1ff;
    }
}

@-webkit-keyframes ani_10 {
    from {
        box-shadow: 0 0 0.2rem 0 #00d1ff;
    }

    to {
        box-shadow: 0 0 0.00rem 0 #00d1ff;
    }
}

@keyframes ani_11 {
    from {
        width: 0;
    }

    to {
        width: 75%;
    }
}

@-moz-keyframes ani_11 {
    from {
        width: 0;
    }

    to {
        width: 75%;
    }
}

@-webkit-keyframes ani_11 {
    from {
        width: 0;
    }

    to {
        width: 75%;
    }
}

@keyframes ani_12 {
    from {
        width: 0;
    }

    to {
        width: 80%;
    }
}

@-moz-keyframes ani_12 {
    from {
        width: 0;
    }

    to {
        width: 80%;
    }
}

@-webkit-keyframes ani_12 {
    from {
        width: 0;
    }

    to {
        width: 80%;
    }
}

@keyframes yy {
    from {
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    to {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes yy {
    from {
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    to {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes yy {
    from {
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    to {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
